/*----------------- 
Backend related CSS
-----------------*/

/* make it look like Gmail's POP credentials box */
div#credentials, div#filter, div#webhook, div#postlog, div#urlbox {
    background-color: #fff7d7;
    border-color: #fad163;
}
div#credentials > div.postbox-header,
div#filter > div.postbox-header,
div#webhook > div.postbox-header,
div#postlog > div.postbox-header,
div#urlbox > div.postbox-header
{
    background-color: #fad163;
    border-color: #fad163;
}

div.ui-dialog.helpbox.ui-widget.ui-widget-content {
    border-radius: 1.0em;
    border-width: 2px;
    border-color: #fad163;
}
div.ui-dialog.helpbox.ui-widget.ui-widget-content > div.ui-dialog-titlebar {
    border-top-left-radius: 1.0em;
    border-top-right-radius: 1.0em;
    border-width: 2px;
    margin-top: -5px;
    margin-right: -5px;
    margin-left: -5px;
}
div.ui-dialog.helpbox.ui-widget.ui-widget-content > div.ui-dialog-titlebar > button.ui-button {
    margin-right: 0.5em;
}

table.credentials {
    width: fit-content;
}

table > tbody > tr > td:first-of-type {
    text-align: right;
    width: fit-content;
}
table > tbody > tr > td.cred > input {
    width: 99%;
}

table.credentials > tbody > tr > td > div#status_message {
    border-width: 2px;
    border-style:ridge;
    padding: 0.5em;
}
table.credentials > tbody > tr > td > div#status_message.failure {
    border-color: red;
}
table.credentials > tbody > tr > td > div#status_message.success {
    color: green;
    border-color: transparent;
}
table.credentials > tbody > tr > td > div#status_message.unknown {
    border-color: transparent;
    color: transparent;
}

textarea#allowlist {
    width: 90%;
    min-width: 22em;
}

/* Help dialog boxes */
div#post-body div.postbox div.postbox-header div.help-icon {
    padding-left: 12px;
    padding-right: 0;
    cursor: pointer;
}
/* Help dialog boxes */
div.dialog.popup.help-popup.hidden {
    display: none;
    visibility: collapse;
}
div#post-body div.postbox div.postbox-header h2.has-help-icon {
    padding-left: 0.25em;
}
div.helpbox.ui-dialog.ui-widget.ui-front {
    z-index: 5000;
}
div.helpbox.ui-dialog.ui-widget > div.ui-dialog-titlebar {
    background-color: #fff7d7;
    border-color: #fad163;
}
div.helpbox.ui-dialog.ui-widget > div.ui-dialog-content {
    background-color: #fffdf5;
    border-color: #fad163;
}

div#postlog table.postlog > tbody > tr.good {
    background-color: #e8ffe8;
}
div#postlog table.postlog > tbody > tr.bad {
    background-color: #ffe8e8;
}
div#postlog table.postlog > tbody > tr.nothing {
    background-color: inherit;
}
